@import url("theme.css") layer(theme);
@import url("utils.css") layer(utils);

#c2018 {
	grid-template-columns: 2.1fr 1fr;

	pre {
		font-size: 70%;
	}

	section + section {
		pre {
			font-size: 60%;

			+ pre {
				margin-top: 1rem;
			}
		}
	}
}

#with-strings {
	grid-template-columns: auto auto;

	pre {
		margin: 0;
	}
}

#sub-protocol-members {
	div li > code {
		word-break: break-all;
	}
}
